/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.mainContainer {
  height: 100vh;
  width: 100%;
  background-color: #111311;
  background-image: url(https://t4.ftcdn.net/jpg/02/00/68/69/360_F_200686968_KS9NVTJgvjMQs2FniVHyIJaAIcg5p7D0.jpg);
  background-size: cover;
}
.leftSideBar {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: solid 1px #494545;
  height: calc(100vh - 100px);
}
.rightSideBar {
  display: flex;
  height: calc(100vh - 100px);
  width: 70%;
  border: solid 1px #494545;
  flex-direction: column;
}
