.contact1{
    display: flex;
    margin: 4px 8px;
    padding: 8px;
    border-bottom: 1px #727272 solid;
    justify-content: space-around;
}

.image{
    border: none    ;
    border-radius: 50%;
    height: 65px    ;
    width: 65px;


}
.content{
    padding-left: 20px;
}
.time{
    padding-left: 20px;
    padding-top: 10px;

}