.contact1{
    display:flex;
    margin: 20px;
    padding: 10px;
    width: 100%;
    border: 1px black solid;
    justify-content: space-around;
}

.image{
    border: none    ;
    border-radius: 50%;
    height: 80px;
    width: 80px;


}
.content{
    padding-left: 20px;
}
.time{
    padding-left: 20px;
    padding-top: 10px;

}