.profileheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: grey;
}
.menu{

    /* padding-left: 45px;
    margin-right: 20px;
    height: 22px;
    padding-top: 15px; */
}
.newchat{
    /* padding: 15px;
    margin-left: 180px;   */
}
.profileimage{
    border: none                                    ;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
}
.menu_btn{
    margin-left: 50%;
}