.profileheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #595a5b;
}
.menu{
    font-size: x-large;
    color: #bdb9ba;

}
.newchat{
    padding: 15px;
    font-size: x-large;
    color: #bdb9ba;
}
.profileimage{
    border: none                                    ;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
    
}
.menu_btn{
    margin-left: 60%;

}