.profileheader{

    background-color: grey;
}
.menu{

}
.newchat{
    

}
.profileimage{
    border: none                                    ;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}